header {     
    height: 150px;
}

header ul li {
    padding-right: 30px;
}

header ul li .material-icons {
    font-size: 50px;
    padding: 0 15px;
}

header ul li a {
    font-weight: 500;
}

@media screen and (max-width: 650px) {
    header ul li {
        padding-right: 5px;        
    }
    header ul li a {
        font-size: 12px;
    }
   
  }