*, .row, .col {
    margin: 0;
    padding: 0;
}



header ul {
    display: flex; 
    justify-content: center;  
    /* background-color: #F4F5FA;  */
    padding: 20px 0;
}

header ul li {
    padding-right: 30px;
}

header ul li .material-icons {
    font-size: 50px;
    padding: 0 15px;
}

header ul li a {
    font-weight: 500;
}



.divider {
    width: 20%; 
    margin: 0 auto;
}




.new-gener img {
    margin-top: 80px;
}

.new-gener h6 {
    font-weight: 500;
    margin-bottom: 20px;
}

.new-gener p {
    width: 80%; 
    margin: 0 auto; 
    margin-bottom: 50px;
}



.vintage img {
    margin-top: 20px;
}

.vintage h6 {
    font-weight: 500; 
    margin-bottom: 20px;
}

.vintage p {
    text-align: start;
}

.vintage img .img1 {
    margin-top: 37px;
}

.boriosa img {
    margin-top: 20px;
}

.boriosa h6 {
    font-weight: 500; 
    margin-bottom: 20px;
}

.boriosa p {
    text-align: start;
}

.boriosa img .img2 {
    margin-top: 37px;
}



.retro img {
    margin-top: 20px;
}

.retro h6 {
    font-weight: 500; 
    margin-bottom: 20px;
}

.retro p {
    text-align: start;
}

.retro img .img3 {
    margin-top: 37px;
}




.slider .slides li img {
    width: 48px;
}

.slider .slides li h3 {
    font-size: 20px;
}

.slider .slides li h5 {
    font-size: 18px;
}

.slider .indicators .indicator-item.active {
    background-color: gray;
    
}




.brooks {
    margin-top: 40px;
}


.discover p {
    padding: 50px 0;
}

.discover p a {
    border: 2px solid grey; 
    padding: 0 40px;
}

.go {
    margin-top: 60px;
}

.go .material-icons {
    font-size: 50px;
}

.go p {
    font-size: 18px;
}

.go .file-path-wrapper {
    border: 1px solid gray;
}

.go .file-path-wrapper .validate {
    font-style: italic;
}

form {
    width: 40%;
    margin: 0 auto;
}

form .filled1  {
    margin-left: 20px;
}

input.file-path.validate {
    margin: 0;
    border: none;
}



.social {
    margin-top: 80px;
    padding: 60px 15px;
}

.social ul {
    display: flex;
    justify-content: center;
}

.social ul li {
    margin-left: 20px;
}

.social address {
    font-size: 14px; 
    line-height: 18px;
}

.social ul li img {
    width: 35px;
}

.social .social2 {
    padding-top: 20px;
}









@media screen and (max-width: 650px) {
    header ul li {
        padding-right: 5px;        
    }
    header ul li a {
        font-size: 12px;
    }
    form {
        width: 80%;
    }
    .social address {
        text-align: center;
    }
   
  }